section.carrousel
    .carrousel__container
        +carrousel("https://images.pexels.com/photos/12801/pexels-photo-12801.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")
        +carrousel("https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")  
        +carrousel("https://images.pexels.com/photos/18296/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")
        +carrousel("https://images.pexels.com/photos/12789/pexels-photo-12789.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")
        +carrousel("https://images.pexels.com/photos/1457594/ferrari-race-circuit-cars-1457594.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")