section.carrousel
    h3.categories__title Mi lista
    .carrousel__container
        +carrousel("https://images.pexels.com/photos/12801/pexels-photo-12801.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")
        +carrousel("https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")  
        +carrousel("https://images.pexels.com/photos/18296/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")
        +carrousel("https://images.pexels.com/photos/12789/pexels-photo-12789.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")
        +carrousel("https://images.pexels.com/photos/1457594/ferrari-race-circuit-cars-1457594.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")

        +carrousel("https://images.pexels.com/photos/158973/pexels-photo-158973.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")
        +carrousel("https://images.pexels.com/photos/1972736/pexels-photo-1972736.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500","Titulo","subtitle 2019 +16 114 minutos")
        +carrousel("https://images.pexels.com/photos/39619/auto-racing-nascar-car-sport-39619.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")
        +carrousel("https://images.pexels.com/photos/3311574/pexels-photo-3311574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","Titulo","subtitle 2019 +16 114 minutos")