section.login 
                section.login__container 
                    h2 Inicia sesion 
                    form.login__container-form(action="")
                        input.input(type="text" placeholder="Nombre")
                        input.input(type="text" placeholder="Correo")
                        input.input(type="password" placeholder="Contraseña") 
                        button.button Registrarme 
                    p.login__container-log-in 
                        a(href="/") Iniciar sesion 