header.header 
            img.header__image(tabindex="0" src="https://raw.githubusercontent.com/platzi/PlatziVideo/feature/react/src/assets/static/logo-platzi-video-BW2.png", alt="Platzi Video")    
            .header__menu
                .header__menu-profile
                    img(src="../icons/user-icon.png", alt="", srcset="")
                    p Perfil
                ul 
                    li 
                        a(href="/") Cuenta
                    li 
                        a(href="/") Cerrar Secion