extend components/plantilla.pug
block contenidos 
    main.main 
            h2.main__title ¿Qué quieres ver hoy?
            input.main__input(type="text" placeholder="Buscar...")
            include components/carrousel.pug
